body {  
    color:white;
    background-color:rgb(11, 7, 30);
    font-family:sans-serif;
    margin-left:10%;
    margin-right:10%;
}

h1, h2 {
    color:rgb(232, 135, 176);
    background-color:rgb(143, 0, 16);
    width:fit-content;
    width:-moz-fit-content;
    font-family:'Trebuchet MS', Tahoma, sans-serif;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    border: 1px solid white;
    margin-left:-3%;
    margin-right:-3%;
}

h1 {
    margin-left:auto;
    margin-right:auto;
}

h2 {
    clear:left;
    font-weight:700;
}

h3 {
    color:lightslategray;
}

p strong {
    color:rgb(178, 249, 116);
    background-color:rgb(65, 39, 91);
    font-style:italic;
    border: 1px solid white;
}

table {
    width:100%-120px;
}

button {
    color:white;
    background-color:darkslateblue;
    margin-bottom:1.8em;
}

input {
    color:white;
    background-color:darkslateblue;
    margin-bottom:1.8em;
}

table.infoBox {
    width:250px;
    text-align:left;
    border: 1px solid white;
    background-color:rgb(65, 39, 91);
    float:right;
    margin-left:1.8em;
    margin-bottom:1.8em;
    margin-right:-3%;
}

ul {
    margin-left:-3%;
    margin-right:-3%;
}

ul#firsttest {
    font-style: italic;
    font-size:1.25em;
    margin-bottom:1.5em;
}

img#luigiImg {
    border:1px solid white;
    width:185px;
    margin-right:1.8em;
    margin-bottom:1.8em;
    float:left;
}

div#mainDiv {
    line-height:1.25em;
}

ul.sentenceList {
    line-height:1.4em;
}

div.header {  
    display:flex;  
    align-items: center;
    justify-content: space-between;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:15%;
    margin-right:15%;
}

div.headcontent {
    color:rgb(173, 193, 201);
    background-color:rgb(65, 39, 91);
    text-align:center;
    font-size:1.25em;
    width:30%;
    padding-bottom:.5em;
    padding-top:.5em;
    border: 2px dotted white;
}

div.footcontent {
    font-size:1.5em;
    width:30%;
}

a {
    padding:20px;
    font-size:1.25em;
    color:rosybrown;
}

a#email {
    padding:0px;
}

a.buttonL {
    padding:0px;
}

a:link {
    color:rosybrown;
}

a:hover {
    color:rgb(153, 116, 116);
}

@media (max-width: 750px) {
    body {
        margin-left:5%;
        margin-right:5%;
    }
    h2, h3, ul, table.infoBox {
        margin-left:0;
        margin-right:0;
    }
    div.header {
        margin-left:2%;
        margin-right:2%;
    }
}

@media (max-width: 525px) {
    h1, h2 {
        font-size:1.25em;
    }
}

@media screen and (orientation: portrait) {
    p {
        font-size:1.25em;
    }
    @media (max-width: 400px) {
        table.infoBox {
            width:100%;
            float:none;
        }
    }
    div.footcontent {
        font-size:1em;
    }
    div.headcontent {
        font-size:.65em;
    }
    img#luigiImg {
        width:125px;
    }
}