body {  
    color:white;
    background-color:rgb(11, 7, 30);
    font-family:sans-serif;
}

h1, h2 {
    color:rgb(232, 135, 176);
    background-color:rgb(143, 0, 16);
    width:fit-content;
    font-family:'Trebuchet MS', Tahoma, sans-serif;
}

h2 {
    font-weight:700;
    font-family:'Trebuchet MS', Tahoma, sans-serif;
}

h3 {
    color:lightslategray;
}

p strong {
    color:rgb(178, 249, 116);
    background-color:rgb(65, 39, 91);
    font-style:italic;
}

ul#itemList {
    font-style: italic;
    font-size:1.25em;
}

img#luigiImg {
    width:25%;
}

ul.sentenceList {
    line-height:1.4em;
}

a {
    font-size:1.25em;
}

a:link {
    color:rosybrown;
}

a:hover {
    color:rgb(153, 116, 116);
}

a:visited {
    color:darkslategray;
}